.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to bottom, #0c3645, #00695c); */
}

.card {
  /* background-color: #092c39;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);*/
  width: 100%; 
  max-width: 300px;
}

.title {
  /* Sign in */
font-weight: 600;
font-size: 64px;
line-height: 80px;
text-align: center;
color: #FFFFFF;
margin-bottom: 40px;
text-align: center;

}

.inputGroup {
  margin-bottom: 1.5rem;
}

.inputGroup label {
  display: block;
  color: #a7a7a7;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.inputGroup input {
  width: 100%;
  padding: 10px 16px;
  border: none;
  color: white;
background: #224957;
border-radius: 10px;
height: 45px;

}

.inputGroup input::placeholder {
  color: #bdbdbd;
}

.rememberMe {
  margin-bottom: 1.5rem;
  color: #a7a7a7;
  text-align: center;
}

.rememberMe input {
  margin-right: 0.5rem;
}

.loginButton {
  width: 100%;
  padding: 10px 16px;
  height: 54px;
  border: none;
  border-radius: 10px;
  background-color: #2BD17E;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.text a{
    color:#2BD17E ;
    margin-left: 0.75rem;
}
.loginButton:hover {
  background-color: #00e676;
}

/* Responsive Design for Mobile */
@media (max-width: 600px) {
  .card {
    padding: 1.5rem;
    max-width: 100%;
  }

  .title {
font-weight: 600;
font-size: 48px;
line-height: 56px;
text-align: center;
color: #FFFFFF;
margin-bottom: 40px;


  }
}
