/* src/styles/SignUp.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0c3645;
  color: white;
  min-height: 100vh;
}

.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input {
  width: 100%;
  padding: 10px 16px;
  border: none;
  color: white;
background: #224957;
border-radius: 10px;
height: 45px;
margin-bottom: 1.5rem;

}

.button {
  width: 100%;
  padding: 10px 16px;
  height: 54px;
  border: none;
  border-radius: 10px;
  background-color: #2BD17E;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.text a{
  color:#2BD17E ;
  margin-left: 0.75rem;
}
.button:hover {
  background-color: #0d7a4e;
}

.error {
    color:red
}

/* Responsive Design for Mobile */
@media (max-width: 600px) {
  .card {
    padding: 1.5rem;
    max-width: 100%;
  }

  .title {
font-weight: 600;
font-size: 48px;
line-height: 56px;
text-align: center;
color: #FFFFFF;
margin-bottom: 40px;


  }
}